@page "/"

<PageTitle>Welcome</PageTitle>
<div class="welcome">
    <DxGridLayout CssClass="welcome-gridlayout" RowSpacing="3rem">
        <Rows>
            <DxGridLayoutRow Height="auto" Areas="header"></DxGridLayoutRow>
            <DxGridLayoutRow Height="auto" Areas="cards"></DxGridLayoutRow>
        </Rows>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="welcome-title">
                <Template>
                    <div class="welcome-title-header">Welcome!</div>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>