@page "/item/add"

@inject IItemRepository itemRepository
@inject NavigationManager NavigationManager

<h3>Add Item</h3>

<EditForm Model="@itemAddViewModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="itemAddViewModel.Name" placeholder="Enter name of the item" />
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <InputText id="description" class="form-control" @bind-Value="itemAddViewModel.Description" placeholder="Enter some aditional info for the item" />
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <InputNumber id="price" class="form-control" @bind-Value="itemAddViewModel.Price" step="0.01" min="0.00" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private ItemAddViewModel itemAddViewModel = new ItemAddViewModel();

    private async Task HandleValidSubmit()
    {
        if (!itemAddViewModel.CheckValues())
        {
            NavigationManager.NavigateTo(NavigationManager.Uri, true);
        }

        var result = await itemRepository.CreateItemAsync(itemAddViewModel);

        if (result)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            NavigationManager.NavigateTo(NavigationManager.Uri, true);
        }
    }
}
