@page "/item"

<h3>Item</h3>

<div class="container">
    <div class="col">
        <div class="row">
            <NavLink href="/item/add" Match="NavLinkMatch.All">
                Create Item
            </NavLink>
        </div>
        <div class="row">
            <NavLink href="/item/edit" Match="NavLinkMatch.All">
                Edit Item
            </NavLink>
        </div>
        <div class="row">
            <NavLink href="/item/delete" Match="NavLinkMatch.All">
                Delete
            </NavLink>
        </div>
    </div>
</div>
@code {

}
